@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Sekuya&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.container-fluid nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 1.5rem 2rem;
    background-color: #F8FAFD;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 1;
}

.container-fluid nav .nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

.container-fluid nav .nav-title h3 {
    font-size: 20px;
    color: #484B4A;
}

.container-fluid nav .nav-title button {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid nav .nav-title button .fa {
    font-size: 20px;
}

.container-fluid nav .nav-title .menu-bar {
    display: none;
}

.container-fluid nav .nav-name {
    display: none;
}

.container-fluid nav .nav-name button {
    border: none;
    background: none;
}

.container-fluid nav .nav-name button:nth-child(2) {
    border: none;
    width: 35px;
    height: 35px;
    background-color: #8839FC;
    color: white;
    border-radius: 50%;
}

.container-fluid nav .nav-acc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-fluid nav .nav-acc .fa-plus,
.fa-grip {
    font-size: 20px;
}

.container-fluid nav .nav-acc button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid nav .nav-acc button:nth-child(2) {
    width: 35px;
    height: 35px;
    background-color: #8839FC;
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

.container-fluid .rightbar {
    width: 100%;
    /* width: calc(100% - 250px); */
    height: calc(100% - 83px);
    margin-top: 83px;
    /* margin-left: 250px; */
    /* padding: 3rem; */
}

.container-fluid .rightbar .navbar-lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1.7rem 2rem 1.7rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container-fluid .rightbar .navbar-lessons a {
    text-decoration: none;
    color: black;
}

.container-fluid .rightbar .navbar-lessons p {
    margin: 0;
    /* width: 400px; */
}

.container-fluid .navbar-title {
    width: 80%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
}

.container-fluid .navbar-title a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.container-fluid .navbar-progress {
    width: 30%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container-fluid .navbar-progress .progress-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .navbar-progress .parent-progress {
    width: 100%;
    /* height: 15px; */
    padding: 0.4rem;
    border-radius: 28px;
    background-color: #D9D9D9;
    position: relative;
    margin-top: 0.2rem;
}

.container-fluid .navbar-progress .parent-progress .progress-lesson {
    position: absolute;
    left: 0;
    width: 60%;
    /* height: 15px; */
    padding: 0.4rem;
    background-color: #4F39F6;
    border-radius: 28px;
    top: 0;
}

.container-fluid .body-lessons {
    padding: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    /* align-items: center; */
}

.container-fluid .body-lessons h2 {
    font-size: 20px;
    display: none;
    margin: 0;
}

.container-fluid .body-lessons .sidebar-lessons {
    width: 400px;
    height: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 1.3rem;
    border-radius: 10px;
}

.container-fluid .body-lessons .sidebar-lessons hr {
    margin-top: 1.9rem;
}

.container-fluid .body-lessons .sidebar-lessons h4 {
    font-size: 16px;
    text-transform: uppercase;
}

.container-fluid .body-lessons .sidebar-lessons .sidebar-menu ul {
    margin: 0;
    padding: 0;
}

.container-fluid .body-lessons .sidebar-lessons .sidebar-menu ul li {
    list-style: none;
    margin: 1.7rem 0 0 0;
}

.container-fluid .body-lessons .sidebar-lessons .sidebar-menu ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-fluid .body-lessons .sidebar-lessons .sidebar-menu ul li a span {
    color: black;
}

.container-fluid .body-lessons .sidebar-lessons .sidebar-menu ul li a .fa {
    color: #00A63E;
}

.container-fluid .body-lessons .sidebar-lessons .take-quiz {
    margin-top: 1.9rem;
}

.container-fluid .body-lessons .sidebar-lessons .take-quiz a {
    text-decoration: none;
    background-color: #4F39F6;
    color: white;
    /* padding: 0.5rem; */
    width: 100%;
    font-weight: 600;
}

.container-fluid .body-lessons .view-lessons {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    /* padding: 1.9rem; */
}

.container-fluid .body-lessons .view-lessons h3 {
    font-size: 22px;
    margin-top: 1rem;
    margin-left: 1.9rem;
    margin-right: 1.9rem;
}

.container-fluid .body-lessons .view-lessons .view-title .fa {
    color: #4F39F6;
    font-size: 25px;
}

.container-fluid .body-lessons .view-lessons .view-title span {
    color: #808080;
}

.container-fluid .body-lessons .view-lessons .view-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 1.9rem 1.9rem 0 1.9rem;
}

.container-fluid .body-lessons .view-lessons hr {
    margin-top: 1.9rem;
}

.container-fluid .body-lessons .view-lessons .view-lessons-body {
    margin-top: 2rem;
    margin-left: 1.9rem;
    margin-right: 1.9rem;
}

.container-fluid .body-lessons .view-lessons .view-lessons-body h4 {
    font-size: 20px;
}

.container-fluid .body-lessons .view-lessons .view-lessons-footer nav {
    all: unset;
}

.container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination {
    padding: 1.3rem 1.9rem 1.9rem 1.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination li a#prevBtn span {
    color: black;
    font-size: 15px;
}

.container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination li a.page-link {
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 7px;
    border: none;
}

.container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination li a#prevBtn {
    color: black;
}

.container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination li a#nextBtn {
    background-color: #4F39F6;
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 775px) {
    .container-fluid .sidebar {
        width: 0;
        left: -100%;
        transition: all 0.5s ease-in-out;
    }

    .container-fluid .sidebar .sidebar-menu {
        display: none;
        overflow: hidden;
        opacity: 0;
    }

    .container-fluid .rightbar {
        width: calc(100% - 0px);
        margin-left: 0px;
        transition: all 0.5s ease-in-out;
    }

    .container-fluid nav .nav-title .menu-bar {
        display: block;
    }

    .container-fluid nav .nav-name {
        display: block;
    }

    .container-fluid nav .nav-acc {
        display: none;
    }

    .container-fluid nav {
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 580px) {
    .container-fluid nav .nav-title h3 {
        font-size: 17px;
    }

    .container-fluid nav .nav-acc {
        display: none;
    }

    .container-fluid .rightbar {
        height: calc(100% - 83px);
        margin-top: 83px;
        padding: 1.5rem;
    }

    .container-fluid nav .nav-name {
        display: flex;
        gap: 0.5rem;
    }

    .container-fluid nav {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .container-fluid nav .nav-title button .fa {
        font-size: 17px;
    }

    /* .custom-offcanvas{
        width: 300px;
    } */

    #staticBackdrop {
        width: 400px;
    }
}

@media only screen and (max-width: 470px) {

    .container-fluid .rightbar .module-title {
        padding: 2rem;
    }

    .container-fluid .rightbar .module-parent-progress .module-progress,
    .title-progress-bar {
        padding: 0 1.5rem;
    }

    .container-fluid .rightbar .module-parent-progress .module-progress h3 {
        padding: 0 1.5rem;
    }

    .container-fluid .rightbar .module-parent-progress .module-progress p {
        padding: 0 1.5rem;
    }

    .container-fluid .rightbar .module-parent-progress .module-progress .parent-progress-bar {
        padding: 0 1.5rem;
    }

    .container-fluid .rightbar .module-parent-progress .module-progress {
        padding: 2rem 0 0 0;
    }

}

@media only screen and (max-width: 420px) {
    #staticBackdrop {
        width: 320px;
    }
}

/* @media only screen and (max-width: 420px) {
    #staticBackdrop {
        width: 320px;
    }
} */
 

@media only screen and (max-width: 400px) {
    .container-fluid nav .nav-title h3 {
        display: none;
    }

    .container-fluid nav .nav-title button .fa {
        font-size: 20px;
    }

    .container-fluid nav .nav-title button .fa {
        font-size: 20px;
    }

    #staticBackdrop {
        width: 320px;
    }
}

@media only screen and (max-width: 1030px) {

    .container-fluid .body-lessons {
        flex-direction: column;
    }

    .container-fluid .body-lessons .sidebar-lessons {
        width: 100%;
    }

}

@media only screen and (max-width: 750px) {

    .container-fluid .body-lessons h2 {
        display: block;
    }

    .container-fluid .navbar-title p,
    .container-fluid .navbar-title span {
        display: none;
    }

    .container-fluid .navbar-title {
        width: 20%;
    }

    .container-fluid .navbar-progress {
        width: 50%;
    }


}

@media only screen and (max-width: 580px) {
    .container-fluid .rightbar .body-lessons {
        padding: 1.5rem;
    }

    .container-fluid .rightbar .body-lessons h2 {
        margin: 0.5rem 0 0.5rem;
    }

    .container-fluid div.rightbar {
        padding: 0;
    }

    .container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination li a.page-link {
        padding: 10px 15px;
    }

    /* .container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination li.page-item{
        padding: 10px 15px;
    } */
}

@media only screen and (max-width: 535px) {
    .container-fluid .body-lessons .view-lessons .view-lessons-footer nav .pagination li a span {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .container-fluid .rightbar .navbar-lessons {
        padding: 1.7rem 1.5rem 1.7rem 1.5rem;
    }

    .container-fluid .navbar-progress .progress-title p {
        display: none;
    }
}